
#menu{
    background-color: blue;
}


#menu a{
    color: #ffffff;
    font-size: 16px;
    font-family: cursive;
    font-weight: bold;
    text-decoration: none;
    padding: 12px;
}


#caja{
    background-color: rgb(255, 255, 255);
    padding: 25px;
    margin: 25px;
}

.contenido {
    background-color: rgb(0, 4, 255);
    display: inline-block;
    padding: 5px;
    border: solid 2px;
    width: 150px;
    margin: 30px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#Rellena{
    width: 600px;
    height: 650x;
}

